.bg-log {
  background: linear-gradient(to right, #bcd1dd54 28%, white 28%);
}
.box-shdw {
  box-shadow: 3px 6px 25px 3px rgb(0 0 0 / 25%);
}
.form-control {
  height: 55px !important;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
  background-color: white;
}
.login-page {
  background: #ffffff;
}
.mt-2 {
  margin-top: 1rem !important;
}
.inputshdw {
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
}
.input-s1 {
  box-shadow: none !important;
  border-right: 0;
  background-color: white;
}
.input-group-text {
  background-color: white;
  border-left: 0;
}
.f1 {
  text-align: center !important;
  font-size: 3rem;
  font-weight: 400;
  color: #1f5ab2;
  font-family: sans-serif;
  margin-bottom: 3rem;
}
.btn-flat {
  /* height: 2.5rem; */
  /* padding :  */
  background-color: #1f5ab2 !important;
  color: white !important;
  font-size: 1.2rem !important;
}
.form-control-feedback {
  width: 0px !important;
  height: 0px !important;
  line-height: 0px !important;
  padding: 2.8rem;
}
.fa {
  font-weight: 900;
  color: black !important;
}
.mb-1 {
  margin-bottom: 2rem;
}
.mt-1 {
  margin-top: 3rem;
}
.w100 {
  width: 100% !important;
}
.login-box {
  width: 70%;
  margin: 7% auto;
}
label {
  font-size: 1.5rem;
  font-weight: 700;
}
.pr-1 {
  padding-right: 1rem;
}
.f3 {
  font-family: "Baloo Bhai 2";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: #1f5ab2;
}
.has-feedback label ~ .form-control-feedback {
  top: 40px !important;
}
.f4 {
  font-size: 1rem;
  padding-left: none !important;
  border-top-style: outset;
}
.f5 {
  font-size: 20px !important;
  text-decoration: underline;
  color: #1f5ab2;
}
.login-box-body {
  background: #fff;
  padding: 25px;
  height: 65rem;
  color: #000;
}
@media only screen and (max-width: 870px) {
  .dn {
    display: none;
  }
  .right_cont {
    left: 0% !important;
  }
}
.form {
  max-width: 362px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.left_cont {
  position: absolute;
  width: 40%;
  top: 0;
  bottom: 0;
  background: #e8f0fe;
  height: auto;
  z-index: 1;
}
.btn:focus {
  color: #e8f0fe !important;
}
.left-box {
  background: #fff;
  max-width: 400px;
  position: absolute;
  top: 50%;
  height: 600px;
  display: grid;
  max-height: 600px;
  transform: translate(0, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 90%;
  right: -10%;
  padding: 5rem 5rem 3rem 5rem;
}
.right_cont {
  position: absolute;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  left: 43%;
  right: 0;
}
.form-dir {
  justify-content: center;
  flex: 1;
  flex-direction: column;
  display: flex;
}
.right-box {
  height: 100%;
  flex-direction: column;
  display: flex;
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.text-center {
  text-align: center;
}
.btn:hover {
  color: #fff !important;
  text-decoration: none;
}
.arrow-container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
}
.arrow-2 {
  width: 60px;
  height: 60px;
  background: #1f5ab2;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}
.fa-angle-down:before {
  content: "\f107";
  color: white;
}
.fa-angle-up:before {
  content: "\f106";
  color: white;
}
.left-box-content {
  overflow: hidden;
  height: 460px;
  max-height: 460px;
}
.alert .close {
  color: #958282 !important;
  opacity: 1 !important;
}
.arrow-2 i.fa {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.arrow-2 i.fa:hover {
  font-size: 30px;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
