*{ 
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    box-sizing: border-box;
}
.header_top {
    width: 100%;
    background-color:rgba(209, 233, 235);  
    position: fixed;
    z-index: 2;
}
a:hover {
    color: #c9d3dc !important;
    text-decoration:none !important;
}
.nav-item{
    /* background-color: royalblue; */
    color: rgb(0, 0, 0);
    font-family: 'IM FELL DW Pica SC';
    font-weight: 400;
}
.form-control{
    padding: 1.5rem 0.75rem !important;
}
.fa-telegram:before {
    content: "\f2c6";
    color: lightseagreen;
}
.fa-whatsapp:before {
    content: "\f232";
    color: green;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.fa-instagram:before {
    content: "\f16d";
    color: red;
}
.f5{
    font-family: 'GFS Didot';
    font-weight: 400;
    font-size: 46px;
    text-decoration-line: underline; 
}
.btn_block {
    /* border: 1px solid black; */
    text-align: right;
    padding: 0.5rem 1rem !important;
    /* background-color:midnightblue; */
}
.srv-txtm { 
 width: 100%;
 padding: 2% 0% 1% 0%; 
 background-image: url("../img/Vector1.png") ;  
}
.f1 { 
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    font-family: 'Graduate';
}
.navbar {
    padding: 0rem 1rem;
}
.f2 {
    color: rgb(0, 0, 0);
    background: none;
    font-weight: 400;
    font-size: 20px;
    font-family: 'grenze';
    font-style: normal;
    /* line-height:60px; */
}
.btnclr {
     background: rgba(12, 0, 148, 0.75);
    box-shadow: 8px 8px 9px -3px rgba(64, 120, 125, 0.86);
    border-radius: 36px;
    font-family: 'Girassol';
    font-size: 35px !important;
    line-height: 40px;
    color: white;   
}
.btn-add{
    width: 50px;
height: 40px;
background: #FFFFFF;
border: 1px solid #ced4da;
}
.hrl {
    background: #0c0094;
    width: 23vw;
    border: 2px outset #0C0094;
}
.btn-srt{
    background: linear-gradient(180deg, #483FAE 0%, #4D8CD3 100%);
    /* box-shadow: 3px 6px 6px rgb(0 0 0 / 87%); */
    box-shadow: 1px 2px 6px 0px #0c0094;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: none;
    font-family: 'hahmlet';
    font-size: 40px;
    line-height: 40px;
    color: white;
    padding: 4px 12px;  
    border-radius: 10px;
}
.f4{
    font-family: 'Inknut Antiqua';
font-style: normal;
font-weight: 400;
font-size: 37px;
line-height: 95px;

color: #000000;
}
.btn-icon{
    border-radius: 50%;
    color: blue;
    background: white;
    font-size: 2.5rem;
border: none;
    padding: 3px 12px;  
}
.btn-copy{
    background: linear-gradient(180deg, #483FAE 0%, #4D8CD3 100%);
   border-radius: 5px;
    border: none;
    font-family: 'hahmlet';
    font-size: 17px;
    line-height: 40px;
    color: white;
    padding: 4px 10px;  
}
.center {
    text-align: center;
}
.boxpic {background: #C1C8D2;
    /* border: 3px solid #0C0094; */
    box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.4);
    border-radius: 54px;
    margin: 4%;
}
.tl {
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;
    font-family: 'IM FELL DW Pica SC';
    } 
 .w100 {
    width: 100%;
 }  
 .navbar{
    padding: 0 !important;
 }
 .navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0) !important;
}
 .table td, .table th {
    padding: 0.5rem 0rem !important;
 
}
   @media only screen and (max-width: 1200px) {
    .img_bar {
       width: 42%;
    }
   }

.clr{
    background-color:rgba(209, 233, 235);  
}
.b{
    
    font-size: 18px;  
}

.bg{
    background-image: url("../img/Vector.png") ;
    background-repeat: no-repeat;
}

.pad {
    padding: 0% 10%;
}
.bg-light {
    background-color: #ffffff !important;
}

.ptt{
/* {padding-top: 7rem} */}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(68, 0, 255, 0.7);
}

.ps {
    padding-top: 2rem;
}

@media only screen and (max-width: 992px) {
    .b {
       font-size: 20px;
    }
   }

   @media only screen and (max-width: 767px) {
    .b {
       font-size: 15px;
    }
    .ps {
        padding-top: 0%;
    }

   }
    @media only screen and (max-width: 205px) {
    .ptt {
      padding-top: 3rem;
    }
   }

   @media only screen and (max-width: 1200px) {
    .b {
       font-size: 20px;
    }
   }
  